	<div>
		<center><h1 style="color:black;background-color:lightblue;
		          	font-family:sans-serif;align:center;padding:40px;margin-top:-6px;
					margin-left:-6px;margin-right:-6px">Backend Challenge
		</h1></center>
	</div>

	<div><h2>Food Details</h1></div>
	<div>
		<ul>
  			<li>
			<b> Foodname: </b> <%= food_details.Foodname %>
			</li>
			<li>
			<b> Calories: </b> <%= food_details.Calories %>
			</li>
			<li>
			<b> Sodium: </b> <%= food_details.Sodium %>
			</li>
			<li>
			<b> Potassium: </b> <%= food_details.Potassium %>
			</li>
			<li>
			<b> Calcium: </b> <%= food_details.Calcium %>
			</li>
			<li>
			<b> Iron: </b> <%= food_details.Iron %>
			</li>
			<li>
			<b> Total carbs: </b> <%= food_details.Total_carbs %>
			</li>
			<li>
			<b> Dietary fibres: </b> <%= food_details.Dietary_fibres %>
			</li>
			<li>
			<b> Sugar: </b> <%= food_details.Sugar %>
			</li>
			<li>
			<b> Protien: </b> <%= food_details.Protien %>
			</li>
			<li>
			<b> Cholestrol: </b> <%= food_details.Cholestrol %>
			</li>
			<li>
			<b> Vitamin A: </b> <%= food_details.Vitamin_a %>
			</li>
			<li>
			<b> Vitamin C: </b> <%= food_details.Vitamin_c %>
			</li>
			<li>
			<b> Total fat: </b> <%= food_details.Total_fat %>
			</li>
			<li>
			<b> Saturated fat: </b> <%= food_details.Saturated_fat %>
			</li>
			<li>
			<b> PolyUnsaturated fat: </b> <%= food_details.PolyUnsaturated_fat %>
			</li>
			<li>
			<b> MonoUnsaturated fat: </b> <%= food_details.MonoUnsaturated_fat %>
			</li>
			<li>
			<b> Trans fat: </b> <%= food_details.Trans_fat %>
			</li>
		</ul>	
	</div>	

